.header {
    padding: 5px 5px 1px 5px;
}

.spaced {
    margin-left: 25px;
}

.big-name {
    font-size: 70px;
    text-align: center;
    width: 100px;
    height: 120px;
}

.descriptor {
    margin-top: 50px;
}

.icons {
    width:60px;
    height:60px;
    text-align: center;
}

.hidden {
    display: none
}
